.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  &_input {
    background-color: var(--grey-light-3);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    width: 90%;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &_input:focus + &_button {
    background-color: var(--grey-light-3);
  }

  &_button {
    background-color: var(--grey-light-3);
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &_icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }
}
