body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  font-size: 1.4rem;
}

.user-nav_notification {
  font-size: 0.8rem;
}

.user-nav_user-name {
  color: var(--grey-dark-2);
}

.search_input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
